.Card {
  height: 350px;
  width: 400px;
  background-color: #242132;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Mukta";
  font-weight: 700;
  color: white;
  border-radius: 10px;
  align-items: center;
}

.Card > img {
  height: 70%;
  width: 90%;
  opacity: 80%;
}

.Card > div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
